.register{
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0.5)), url("../../../public/Assets/register-image.jpg") !important;
    background-size: cover !important;


}
.registerTitle{
    font-size: 50px;
}
.registerForm{
    margin-top: 20px;
    display: flex;
    flex-direction: column;

}

.registerForm > label{
    margin: 10px 0;
    color: black;
    text-align: center;

}
.registerInput{
    padding: 10px;
    background-color: white;
    border: none;
    

}

.registerButton{
    margin-top: 20px;
    cursor: pointer;
    background-color: teal;
    border:none;
    color:white;
    border-radius: 10px;
    
    padding: 10px;

}
.registerButton:hover{
    color: blue;
}

.registerLoginButton{

    margin-top: 20px;
    cursor: pointer;
    background-color:lightcoral;
    border:none;
    color:white;
    width: 210px;
    height: 45px;
    border-radius: 10px;
    padding: 10px;


    /* position: absolute;
    top: 60px;
    right: 20px;
    background-color: lightcoral;
    cursor: pointer;
    border: none;
    padding: 10px;
    color: white;
    border-radius: 10px; */
}
@media (max-width:550px) {
    .register {
        height: calc(100vh - 10px) !important;
        display: flex;
        flex-direction:colum;
        align-items: center;
        justify-content: center;
        background: linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0.5)), url("../../../public/Assets/register-image.jpg") !important;
        background-size: cover !important;
        
    }
  }
  
  /* @media (min-width:768px) {
    .singlePostImg {
        max-width: 200px;
        max-height: 200px;
    }
  }
  
  @media (min-width:1000px) {
    .singlePostImg {
        max-width: 250px;
        max-height: 250px;
    }
  }
  
  @media (min-width:1300px) {
    .singlePostImg {
        max-width: 320px;
        max-height: 320px;
    }
  }

  @media (min-width:1600px) {
    .singlePostImg {
        max-width: 350px;
        max-height: 350px;
    }
  } */