h5{
    font-family: 'Fredoka One', cursive;
    text-align: center;
    font-size: 32px !important;
}

.brewBackground {
    background-color: #dddddd !important;
} 
.brewTitle {
    text-align: center;
    font-size: 80px;
    font-family: 'Fredoka One', cursive;
    margin-top: 0px;
    padding-top: 50px;
}

.methodCard {
    display: flex !important;
    /* justify-content: center !important;
    text-align: center; */
    max-width: 100% !important;
    margin-right: 70px;
    border: solid; 
    border-color: #ab7343;
    border-width: 6px;
    border-radius: 1%; 
    box-shadow: 12px 2px 17px 9px #444;
    height: auto;
    /* overflow: scroll; */
    /* height: 1000px; */
    margin-top: 50px;
    /* justify-content: center !important; */
    /* text-align: center; */
   
}

/* .cardBody {
    margin-top: 300px;
    height: 500px;
} */


.brew {
    display: flex !important;
    flex-wrap: wrap;
    /* justify-content: center !important; */
    /* text-align: center; */
    margin-top: 40px;
    margin-left: 40px;
    width: 100%;
}

.methodImage {
    width: 550px;
    height: 420px;
    border-radius: 6%;
}

.pcTitle {
    padding-right: 10px;
}

.methodName {
    font-size: 50px !important;
    font-weight: 900;
    font-family: 'Fredoka One', cursive;
    width: 100%;
    text-align: center;
    margin-bottom: 6px;
}

.methodPro {
    padding-right: 30px;
}

.methodType {
    font-size: 37px;
    /* margin-top: 40px;
    margin-bottom: -5px;
    margin-top: 30px; */
    padding-top: 15px;
}

.methodType {
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    padding-top: 15px;
}

.methodDesc {
    font-size: 20px;
    font-weight: 700;
    /* border: solid;
    border-radius: 3%; */
    text-align: center;
    padding-top: 15px;

}

.methodSteps {
    font-size: 22px;
    font-weight: 700;
    padding-bottom: 8px;
}

.methodPro {
    font-size: 25px;
    font-weight: 700;
    padding-bottom: 5px;
    text-transform: capitalize;
}

.prosCons {
    padding-top: 9px;
    border: solid;
    border-radius: 3%;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
   
}

.methodRes{
    font-size: 25px;
    font-weight: 700;
    font-size: 20px;
    font-weight: 700;
}
.steps{
    padding-top: 15px;
   
    padding-left: 35px !important;
}

.description {
    padding-right: 20px !important;
    border-right: solid;

    
}

.methodSteps {
    font-size: 20px;
    font-weight: 700;
    width: 100%
}

.methodRecipes {
    font-size: 20px;
    font-weight: 700;
}



@media (max-width:767px) {
    .methodImage {
        max-width: 0%;
        max-height: 0%;
    }
  }
  
  @media (min-width:768px) {
    .methodImage {
        max-width: 200px;
        max-height: 200px;
    }
  }
  
  @media (min-width:1000px) {
    .methodImage {
        max-width: 250px;
        max-height: 250px;
    }
  }
  
  @media (min-width:1300px) {
    .methodImage {
        max-width: 320px;
        max-height: 320px;
    }
  }

  @media (min-width:1600px) {
    .methodImage {
        max-width: 350px;
        max-height: 350px;
    }
  }
