.brewBackground {
    background-color: #dddddd !important;
} 
.brewTitle {
    text-align: center;
    font-size: 80px;
    font-family: 'Fredoka One', cursive;
    margin-top: 0px;
    padding-top: 50px;
}

.methodCard {
    display: flex !important;
    /* justify-content: center !important;
    text-align: center; */
    max-width: 640px !important;
    margin-right: 70px;
    border: solid; 
    border-color: #ab7343;
    border-width: 6px;
    border-radius: 1%; 
    box-shadow: 12px 2px 17px 9px #444;
    height: auto;
    overflow: scroll;
    height: 1000px;
    margin-top: 50px;
    display: flex !important;
    justify-content: center !important;
    text-align: center;
   
}


.brew {
    display: flex !important;
    flex-wrap: wrap;
    justify-content: center !important;
    text-align: center;
    margin-top: 40px;
    margin-left: 40px;
    width: 100%;
}

.methodImage {
    margin-top: auto;
    width: 90%;
    height: 325px;
    border-radius: 6%;
}

.methodName {
    font-size: 50px !important;
    font-weight: 900;
    font-family: 'Fredoka One', cursive;
}

.methodType {
    font-size: 30px;
    margin-top: 40px;
    margin-bottom: -5px;
    margin-top: 30px;
}

.methodName {
    font-size: 35px !important;
    font-weight: 900;
}

.methodType {
    font-size: 26px;
    font-weight: 700;
}

.methodDesc {
    font-size: 25px;
    font-weight: 700;
    border: solid;
    border-radius: 3%;
}

.methodSteps {
    font-size: 22px;
    font-weight: 700;
    padding-bottom: 8px;
}

.methodPro {
    font-size: 25px;
    font-weight: 700;
    padding-bottom: 5px;
    text-transform: capitalize;
}

.prosCons {
    padding-top: 9px;
    border: solid;
    border-radius: 3%;
}

.methodRes{
    font-size: 25px;
    font-weight: 700;
    font-size: 20px;
    font-weight: 700;
}

.methodSteps {
    font-size: 20px;
    font-weight: 700;
    /* width: 30% */
}

.methodRecipes {
    font-size: 20px;
    font-weight: 700;
}

.cardBody {
    /* margin-top: 300px; */
    height: 500px;
}