.contact {
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("https://c1.wallpaperflare.com/preview/250/756/943/coffee-wood-yellow-bean.jpg");
  background-size: cover !important;
}
.contactTitle {
  text-align: center;
  margin-top: 40px;
  font-family: "Fredoka One", cursive;
  font-size: 100px;
}

.formcontainer {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 30px;
  width: 100%;
}

.form-row {
  width: 800px !important;
}

.contactBtn {
    margin-top: 25px;
    font-size: 1.4rem !important;
    font-weight: 600 !important; 
    border-radius: 10px !important;
}
